<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Game Of Life</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion [multi]="false">
  <mat-expansion-panel
    [expanded]="uploadPanelExpanded"
    (opened)="onUploadPanelOpened()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Upload file
      </mat-panel-title>
    </mat-expansion-panel-header>
    <angular-file-uploader
      [config]="afuConfig"
      (ApiResponse)="onResponse($event)">
    </angular-file-uploader>
  </mat-expansion-panel>
  <mat-expansion-panel
    [disabled]="!lifePatternPanelExpanded"
    [expanded]="lifePatternPanelExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Life pattern
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-life-pattern-grid
      [lifePattern]="lifePattern">
    </app-life-pattern-grid>
  </mat-expansion-panel>
</mat-accordion>



